section {

    .images {
        display: flex;
        justify-content: space-around;
        
        img {
            width: 18%;
            height: auto;
            border: 2px solid @background-color;
        }
    }
    p {
        width: 90%;
        .center(0);
        padding: 1rem;
        line-height: 5rem;
    }
}